body {
  height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
}
